/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root font sizing */
html {
  font-size: 16px;
}

/* Page body */
body {
  background-color: #ecdcc5;
  font-family: Arial, sans-serif;
  margin: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #1e293b;
  padding: 14px 24px;
  border-radius: 12px 12px 0 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 1rem;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: #334155;
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 12px;
}

.nav-links a.active {
  background-color: #04AA6D;
  border-top-left-radius: 0px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 0px;
  color: white;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(174, 169, 169, 0.401);
}

/* Main content */
main {
  margin-top: 20px;
}

/* Typography */
h1 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 16px;
}

h2 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 12px;
}

p {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 20px;
}

/* Divider */
hr {
  margin: 24px 0;
  border: 4px solid #000;
  border-radius: 4px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  body {
    margin: 12px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
    margin-top: 1em;
  margin-bottom: 1em;
  }
}

.dashboard-links {
  text-decoration: underline;
  font-weight: bold;
}

/* Container controls layout */
.dashboard-container {
  display: flex ;
  flex-direction: column ;
  gap: 14px ;
}

/* Button styling */
.dashboard-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border-top-left-radius: 123px;
  border-top-right-radius: 123px;
  border-bottom-left-radius: 123px;
  border-bottom-right-radius: 123px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; 
    position: static;
  width: 100%;
  margin: 0;
  font-weight: bold;
  border: #000 solid 3.5px;
}

.dashboard-button:hover {
  background-color: #03915f;
  
}

/* .dashboard-button2 {
  background-color: #aa0404;
  color: white;
  padding: 12px 20px;
  border-top-left-radius: 123px;
  border-top-right-radius: 123px;
  border-bottom-left-radius: 123px;
  border-bottom-right-radius: 123px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; 
    position: static;
  width: 100%;
  margin: 0;
    font-weight: bold;
    border: 3.5px solid rgb(0, 0, 0);
}

.dashboard-button2:hover {
  background-color: #910303;
} */
